<div id="<%= dom_id book %>" class="items-center justify-center rounded-md bg-gray-200 px-10 py-10 font-medium">
  <div>
    <strong>タイトル:</strong>
    <%= book.title %>
  </div>

  <div>
    <strong>おすすめ度:</strong>
    <%= book.rating %>
  </div>

  <div>
    <strong>一言メモ:</strong>
    <%= book.memo %>
  </div>

  <div>
    <strong>読了日:</strong>
    <%= book.read_at %>
  </div>

</div>
